/* Fondo general */
.fondo-pagina-cita {
    background: url('/imagenes/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Tarjeta principal */
.tarjeta-cita {
    width: 100%;
    max-width: 320px;
    border-radius: 12px;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

/* Logo */
.logo-cita {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 130px;
    height: auto;
}

/* Título */
.titulo-cita {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1a2530;
    margin-bottom: 20px;
}

/* Inputs */
.input-cita {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

/* Botones */
.boton-cita {
    
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #a8e6cf;
    color: #1a2530;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s ease;
    width: 48%;
    margin-right: 15px;
}

/* Hover botones */
.boton-cita:hover {
    background-color: #96d1bc;
}
/* Botón secundario (Volver) */
.boton-cita.secundario {
    background-color: #e0e0e0;
    color: #555;
    margin-left: auto;
}

.boton-cita.secundario:hover {
    background-color: #d5d5d5;
}
/* MIS MODIFICACIONES PARA LOS TONOS AZULES ---*/
.input-cita {
    background-color: #e2e8f0 !important;
    border: 1px solid #cbd5e1 !important;
    outline: none !important;
    transition: all 0.25s ease !important;
}
/* Esta hace que se ponga mas oscuro */
.input-cita:focus, .input-cita:hover {
    background-color: #f0f7ff !important;
    border-color: #bae6fd !important;
}
/* Cambio de color de los botones Agendar cita y Volver */
.tarjeta-cita button {
    background-color: #e2e8f0 !important;
    color: #334155 !important;
    border: 1px solid #ffffff !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
}
.tarjeta-cita button:last-of-type {
    background-color: #e2e8f0 !important;
    color: #334155 !important;
    border: 1px solid #cbd5e1 !important;
}
/* Efecto de cambio de color en los botones */
.tarjeta-cita button:hover {
    background-color: #bae6fd !important;
}
.tarjeta-cita button:last-of-type:hover {
    background-color: #bae6fd !important;
}
/* Ajustes para boton Agendar Cita y Volver */
.boton-agendar {
    width: 45% !important;
    height: 43px !important;
    box-sizing: border-box !important;
}
.boton-cita-secundario {
    width: 25% !important;
    height: 40px !important;
    box-sizing: border-box !important;
}
